@font-face {
  font-family: jakartaReg;
  src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: jakartaMed;
  src: url(./assets/fonts/static/PlusJakartaSans-Medium.ttf);
}

@font-face {
  font-family: jakartaBold;
  src: url(./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: jakartaReg, Arial, Helvetica, sans-serif;
  background: rgb(239, 236, 236);
}

.App {
  max-width: 650px;
  min-width: 370px;
  max-height: 750px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 3em;
  margin: auto;
  border: none;
}